.header {
    padding: clamp(12px, 3vw, 40px) clamp(16px, 3vw, 68px);
    background-color: transparent;

    .back-btn {
        margin-top: clamp(12px, 2vw, 32px);
    }
}

.action-back-btn {
    font-size: 14px !important;

    p {
        @media (max-width: 600px) {
            display: none;
        }
    }
}