@import '../../../../styles.scss';

:host {
    display: block;
    flex: 0 0 370px;
    height: 100%;
}

.recipe-card {
    position: relative;
    width: 370px;
    height: 100%;
    min-height: 124px;
    border-radius: 16px;
    background-color: #DBE0DB;
    cursor: pointer;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    user-select: none;

    .recipe-tag {
        @include tags-btn-green;
        font-size: 16px;
        position: absolute;
        top: 16px;
        right: 12px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 258px;
    }

    &__time {
        display: flex;
        align-items: center;
        gap: 6px;
        color: #396039;
        font-size: 16px;
        font-weight: 500;
    }

    &__title {
        font-size: clamp(18px, 2.5vw, 24px);
        font-weight: 500;
        color: #1E5515;
        overflow: hidden;
    }
}