@import '../../../../styles.scss';

:host {
    display: block;
    flex: 0 0 clamp(280px, 37vw, 370px);
    height: 100%;

    @media (max-width: 440px) {
        flex: 0 0 clamp(220px, 65vw, 280px);
    }
}

.recipe-card {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 124px;
    border-radius: 16px;
    background-color: #DBE0DB;
    cursor: pointer;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    user-select: none;

    .recipe-tag {
        @include tags-btn-green;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 2px;
        position: absolute;
        top: 16px;
        right: 12px;
        min-width: 64px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 258px;
        padding-top: 4px;
    }

    &__time {
        display: flex;
        align-items: center;
        gap: 6px;
        color: #396039;
        font-size: 16px;
        font-weight: 500;

        ::ng-deep svg {
            flex-shrink: 0;
            min-width: 16px;
            min-height: 16px;
        }
    }

    &__title {
        font-size: clamp(18px, 2.5vw, 24px);
        font-weight: 500;
        color: #1E5515;
        overflow: hidden;
    }

    @media (max-width: 1080px) {
        flex-direction: row;

        .recipe-tag {
            position: static;
            flex-shrink: 0;
            order: 2;
        }

        &__content {
            flex: 1 1 0;
            min-width: 0;
            width: auto;
            order: 1;
        }
    }

    @media (max-width: 440px) {
        flex-direction: column;
        width: clamp(220px, 65vw, 280px);
    }
}

.recipe-tag {
    width: fit-content;

    @media (max-width: 440px) {
        gap: 2px;
    }
}