:host {
    background: white;
}

h1 {
    color: #10310B;
    font-size: clamp(1.4rem, 3.5vw, 2rem);
    margin-bottom: 1rem;
}

.btn {
    width: fit-content;
    margin-top: 3rem;
    margin-inline: auto;
}


form {
    margin: 1rem 0;
}

label {
    display: block;
    margin-top: 1rem;
}

input,
select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}