@import '../../../styles.scss';

:host {
    display: block;
}

.cookbook-header {
    border-radius: 20px;
    background-color: #3960390A;
    padding: clamp(24px, 2.5vw, 40px) clamp(16px, 3vw, 24px);

    .left-section {

        h1 {
            font-size: clamp(40px, 5vw, 64px);
            font-weight: 700;
            color: #1E5515;
        }

        p {
            font-size: clamp(18px, 3vw, 24px);
            color: #396039;
        }
    }

    .right-section {}

}