@import '../../../styles.scss';

:host {
    display: block;
}

.header {
    color: #FAF0E6;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;

    h1 {
        font-size: clamp(2rem, 5vw, 3.5rem);
        font-weight: 600;
        color: #FAF0E6;
    }

    p {
        font-size: clamp(18px, 3vw, 1.5rem);
    }
}

.header-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header-right {
    flex-shrink: 0;
}

.header-img {
    max-width: fit-content;
}

.header-image {
    width: 100%;
    height: auto;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding-top: clamp(2rem, 7vw, 5.5rem);
}

.recipe-card {
    @include recipe-card;
    width: 100%;
    height: 100%;

    h1 {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: #1E5515;
    }

    h3 {
        font-size: clamp(1.5rem, 3vw, 2rem);
        font-weight: 600;
        color: #10310B;
    }

    .recipe-time {
        span {
            font-size: clamp(18px, 2vw, 1.25rem);
            color: #396039;
            font-weight: 500;
        }
    }

    .primary-btn-creme {
        width: fit-content;
        padding: 16px 16px;
        margin-top: auto;
    }
}

.generate-btn {
    display: flex;
    position: unset;
    margin-top: 32px;
    margin-left: auto;
}

.desktop-view {
    display: block;
}

.mobile-view {
    display: none;
}

@media (max-width: 1350px) {
    .recipe-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .recipe-card:last-child {
        grid-column: 1 / -1;
    }
}

@media (max-width: 1200px) {

    .header {
        flex-direction: column;
        gap: 16px;
    }

    .header-left {
        order: 1;
        display: contents;
        /* damit die Kinder direkt in .header sind für order */
    }

    .header-right {
        order: 2;
    }

    .header h1 {
        order: 1;
    }

    .header .header-img {
        order: 2;
    }

    .header p {
        order: 3;
    }

    .header .tags {
        order: 4;
    }
}

@media (max-width: 768px) {
    .recipe-container {
        grid-template-columns: 1fr;
    }

    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }

    .generate-btn {
        margin: 48px auto;
    }
}