@font-face {
    font-family: 'quicksand';
    src: url('assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: 'quicksand', sans-serif;
    font-size: 16px;
}